
<!-- <style>
  .canvas {
    width: {{canvasWidth}};
    height: {{canvasHeight}};
    bac
  }
</style> -->
<div class="canvasClass" [style.width.px]="canvasWidth" [style.height.px]="canvasHeight">
  <div class="floatingElement">
    <!-- <button (click)="toggle2D()">Toogle 2D</button> -->
    <button class="dimensionIndicator" (click)="toggle2D()">{{is2D ? "2D" : "3D"}}</button>
  </div>
  <div #canvas id="canvas" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)" (wheel)="onMouseWheel($event)"></div>
</div>