/* You can add global styles to this file, and also import other style files */

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
  margin: 8px;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.canvasClass {
  padding: 0px;
  position: relative;
}

.dimensionIndicator {
  color: #444444;
  background-color: rgba(220, 220, 220, 0.7);
  padding: 4px;
  border-radius: 4px;
  margin: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dimensionIndicator:hover {
  background-color: rgba(190, 190, 190, 0.9);
}

.floatingElement {
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
}